<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span
        >Copyright &copy;
        <a
          title="More info"
          href="https://www.youtube.com/watch?v=5TcSXaX98pc"
          target="_blank"
          >Văn Hồng - DoctorCare - 2023</a
        ></span
      >
    </div>
  </div>
</footer>
